$primary-color: #333;
$secondary: green; 

body {
  font-family: Arial, sans-serif;
  color: $primary-color;

  .header {
    background-color: lighten($primary-color, 20%);
    padding: 10px;

    h1 {
      font-size: 2rem;
      color: white;
    }
  }
}
